/*
* Programmer Name
* Date
* Description of Project
*/


/* The universal selector */

* {

}

/* Put body attributes here */

body {  background-color: orange; 
		color: red; 
font-family: Arial, Helvetica, sans-serif;
}

h1 { font-size: 12pt; /* points */ 
font-style: normal; 
font-weight: bold; 
text-align: center; 
}

img {float: right;}


/* image goes right; stuff after goes






around it */